* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;


}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
.logo{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    background-color:white;
    padding:.5rem;
    cursor: pointer;
}
.products{
    display: flex;
    justify-content: space-around;
    
    list-style:none;
    background-color: white;
    color:white;
    padding: .5rem;
    font-size: 1.5rem;
}


li{
    color: black;
    padding: .5rem 22.5rem;
    cursor: pointer;
    
}
li:hover{
    
    transition: ease-in-out .2s;
    background-color: pink;
    padding: .5rem 22.5rem;
    color:black;
}
a{
    text-decoration: none;
    color: black;
}